
<div class="jumbotron">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1><br/>
  <p class="lead">
    <%= @friend.email %> |
    <%= @friend.phone %> |
    <%= @friend.address %>
  </p><br/>
  <hr class="my-4">
  
  <%= link_to 'Back', friends_path, class: "btn btn-warning" %>&nbsp;&nbsp;
  <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-primary" %>
</div>



